content-version: 2
id: village:builder_thanks
start: thanks
nodes:
  thanks:
    graph:
      variables: {}
      nodes:
        line: { type: say, text: "The workshop is coming along nicely. Thanks again!" }
        flag: { type: set-flag, flag: thanked_builder, value: true }
        end: { type: end-dialogue }
      connections:
        enter: { from: $event.exec, to: line.exec }
        remember: { from: line.success, to: flag.exec }
        remember-player: { from: $event.player, to: flag.player }
        finish: { from: flag.success, to: end.exec }
